<section class="hero is-link is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-item" do%>
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.5l6 4.5v9H6v-9l6-4.5zM12 3L4 9v12h16V9l-8-6zm-.5 6.5v3H11v-3h-1v3h-.5v-3h-1v3c0 .83.67 1.5 1.5 1.5v4h1v-4c.83 0 1.5-.67 1.5-1.5v-3h-1zm1.5 2v3h1V18h1V9.5c-1.1 0-2 .9-2 2z" fill="#ffffff"></path></svg>
          <span class="has-text-weight-bold is-size-4 ml-4"> Foodlog <span>
          <% end %>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
          <span class="navbar-item">
            <%= link_to "Create new entry", new_entry_path, class: "button is-success" %>
          </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
      <% if content_for(:title) %>
        <%= yield :title %>
      <% else %>
        FoodLog
      <% end %>
      </p>
    </div>
  </div>

</section>
<script>
$('.navbar-burger').click(function() {
  $('#navbarMenuHeroC, .navbar-burger').toggleClass('is-active');
});
</script>